<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css" />
    <title>Question Answering Round</title>
  </head>
  <body>
    <h1>Question Answering Round</h1>
    <p>
      <code>qar!question &lt;question&gt;</code><br />
      <code>qar!like &lt;id&gt;</code><br />
      <code>qar!list</code><br />
      <code>qar!delete &lt;id&gt;</code><br />
    </p>
    <div id="questions"></div>
    <div id="credits">Made with ❤️ by Simon Tiger</div>
    <script src="script.js"></script>
  </body>
</html>
