body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  position: relative;
}

.question {
  background: #7289DA;
  color: #FFF;
  margin: 8px;
  padding: 8px;
  border-radius: 8px;
  min-height: 40px;
  position: relative;
}

.id {
  font-size: 32px;
  float: left;
}

.q {
  font-size: 16px;
  float: right;
  text-align: left;
  width: calc(100% - 60px);
}

.cross {
  position: absolute;
  right: 4px;
  top: 4px;
}

#credits {
  width: 100%;
  position: fixed;
  bottom: 12px;
}

button {
  background: #FFF;
  color: #7289DA;
  border: 1px solid #7289DA;
  border-radius: 4px;
  display: inline-block;
  padding: 6px 8px;
  margin: 2px;
}

.heavy {
  background: #7289DA;
  color: #FFF;
}

button:focus {
  outline: 0;
}

button:active {
  background: #EEE;
}

#modorme {
  position: absolute;
  top: 0;
  right: 12px;
}

#error {
  color: #FF0000;
}
